.navb {
    grid-area : n;
    background-color: lightgray;
    padding: 10px;
    font-size: 24px;

}
a  {
    color: purple;
}
.item .active {
    color: hotpink;
    text-decoration: none;
    width: 100%;
}

